body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-size: 24px;
}

/* 头像容器样式 */
.avatar-container {
    margin-right: 20px;
    /* 与标题之间的间距 */
}

.avatar-container img {
    width: 40px;
    /* 头像宽度 */
    height: 40px;
    /* 头像高度 */
    border-radius: 50%;
    /* 圆形头像 */
}

.header {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 3px 0;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.chat-container {
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* 占满屏幕宽度 */
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.chat-box {
    width: 100%;
    /* 占满屏幕宽度 */
    padding: 20px 0;
    flex-grow: 1;
    margin: 0;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
    width: 8px;
    /* 设置滚动条宽度 */
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    /* 滚动条拖动块的背景颜色 */
    border-radius: 10px;
    /* 滚动条拖动块的圆角 */
}

::-webkit-scrollbar-track {
    background: #fff;
    /* 滚动条轨道的背景颜色 */
    border-radius: 10px;
    /* 滚动条轨道的圆角 */
}

.user-input-container {
    position: fixed;
    bottom: 0;
    left: 240px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    z-index: 1;
    /* 放置在上层，覆盖其他内容 */
    background: transparent;
}

.input-wrapper {
    flex: 1;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #f9fafb;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 -10px 15px rgba(0, 0, 0, 0.1);
    /* 阴影效果 */
}

.user-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.send-button {
    width: 36px;
    height: 36px;
    padding: 5px;
    background-color: transparent;
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    margin-right: 5px;
}

.send-button i {
    font-size: 20px;
    /* 设置图标大小 */
}

.active-button {
    color: #fff;
    background-color: #4CAF50;
    /* 绿色 */
    cursor: pointer;
    /* 恢复正常的指针样式 */
}

/* 样式用户消息 */
.user-message {
    background-color: #fff;
    color: #333;
    text-align: left;
    font-size: 16px;
    /* 用户消息字体大小，根据需要调整 */
    padding: 15px 100px 15px 80px;
    line-height: 1.5;
    margin: 0;
}

/* 样式 GPT 生成的消息 */
.assistant-message {
    background-color: #f0f0f0;
    color: #333;
    text-align: left;
    font-size: 16px;
    /* ChatGPT消息字体大小，根据需要调整 */
    line-height: 1.5;
    padding: 15px 100px 15px 80px;
    margin: 0;
    align-items: center;
}

.message-container {
    display: flex;
    align-items: self-start;
    margin-bottom: 20px;
}

.message-content {
    max-width: 90%;
}

.avatar {
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
    margin-right: 20px;
}

/* 用户头像样式 */
.user-avatar {
    background-image: url('/static/avatar.png');
    background-size: 100%;
}

.timestamp {
    margin-right: 10px;
}

/* ChatGPT头像样式 */
.assistant-avatar {
    background-size: 100%;
    background-image: url('/static/mygpt.png');
    background-repeat: no-repeat;
}

.container {
    display: flex;
    height: 100vh;
    /* 100% 屏幕高度 */
    width: 100%;
}

/* 侧边栏样式 */
.sidebar {
    flex: 1;
    /* 占据剩余宽度 */
    max-width: 200px;
    background-color: #262626;
    height: 100vh;
    /* 侧边栏背景颜色 */
    padding: 20px;
    color: #f0f0f0;
    overflow-y: auto;
    /* 其他侧边栏样式 */
}

/* 对话详细内容样式 */
.content {
    flex: 3;
    background-color: #fff;
    /* 对话详细内容背景颜色 */
    display: flex;
    flex-direction: column;
}

.sidebar-footer{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 200px;
    background-color: inherit;
}

#clear-all {
    display: flex;
    background-color: transparent;
    color: #f0f0f0;
    cursor: pointer;
    /* 边框颜色 */
    border: none;
    border-radius: 5px;
    /* 圆角边框 */
    padding: 10px 0;
    /* 内边距 */
    /* width: 100%; */
    text-align: start;
    /* 与用户头像之间的间距 */
}

#clear-all:hover {
    background-color: #404040;
}

#clear-all i {
    padding-left: 10px;
    padding-right: 20px;
}

.clear-all-data {
    flex: 1;
}

.user-profile {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.user-name {
    padding-left: 5px;
    /* 用户名下方的间距 */
    font-weight: bold;
}

/* 用户头像样式 */
.user-profile img {
    max-width: 50px;
    /* 用户头像的最大宽度 */
    border-radius: 50%;
    /* 圆形头像 */
}

/* New Chat 按钮样式 */
.new-chat-button {
    background-color: transparent;
    color: #f0f0f0;
    border: 1px solid #737373;
    /* 边框颜色 */
    border-radius: 5px;
    /* 圆角边框 */
    padding: 10px 10px;
    /* 内边距 */
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    text-align: start;
    /* 与用户头像之间的间距 */
}

.new-chat-button i {
    padding-right: 10px;
}

/* 对话列表样式 */
.conversation-list {
    list-style: none;
    padding: 20px 0;
    flex: 1;
    height: auto;
}

.conversation-list li {
    margin: 10px 0;
    /* 对话列表项之间的间距 */
    cursor: pointer;
}

.conversation-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0; /* 对话项之间的间距 */
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 10px;
}

.conversation-item:hover {
    background-color: #404040;
}

.conversation-item i {
    width: 20px;
    flex: 0 0 auto;
}

.conversation-data {
    flex: 1;
    text-align: left;
    padding-left: 10px;
    font-size: 1rem; /* 数据字体大小 */
    margin: 0;
    white-space: nowrap; /* 防止文字换行 */
    overflow: hidden; /* 隐藏溢出部分 */
    text-overflow: ellipsis;
}

.conversation-item button {
    background-color: transparent;
    border: none;
    color: #737373;
    padding: 0 5px;
    cursor: pointer;
}

.conversation-item button:hover {
    color: #f5f5f5;
}

.conversation-buttons {
    justify-content: space-between;
    padding-left: 10px;
    text-align: right;
    display: none;
    width: 60px;
    flex: 0 0 auto;
}

.edit-title-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
}

.separator {
    border: 1px solid #737373; /* 横线的样式，可以根据需要自定义 */
    margin: 10px 0; /* 横线与对话列表之间的间距 */
}

.active-conversation {
    background-color: #525252 !important; /* 设置你希望的背景颜色 */
}

.typing {
    width: 16px;
    height: 16px;
    align-self: center;
    background-color: #262626;
    border-radius: 50%;
    margin-left: 10px;
    animation: pulsate 2s infinite;
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(0.6);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}
