body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 80vw;
    height: 90vh;
}

@media screen and (min-width: 1536px) {
    .container {
        height: 80vh;
    }
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 68px;
}

.hljs-string {
    color: orange !important;
}

h1 {
    margin: 0;
    font-size: 24px;
}

/* 头像容器样式 */
.avatar-container {
    margin-right: 20px;
    /* 与标题之间的间距 */
}

.avatar-container img {
    width: 40px;
    /* 头像宽度 */
    height: 40px;
    /* 头像高度 */
    border-radius: 50%;
    /* 圆形头像 */
}

.header {
    width: 100%;
    min-height: 60px;
    display: flex;
    padding: 10px 0;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}

.chat-container {
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* 占满屏幕宽度 */
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.chat-box {
    width: 100%;
    /* 占满屏幕宽度 */
    padding: 20px 0;
    flex-grow: 1;
    margin: 0;
}

/* 自定义滚动条 */
::-webkit-scrollbar {
    width: 2px;
    /* 设置滚动条宽度 */
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    /* 滚动条拖动块的背景颜色 */
    border-radius: 10px;
    /* 滚动条拖动块的圆角 */
}

::-webkit-scrollbar-track {
    background: #fff;
    /* 滚动条轨道的背景颜色 */
    border-radius: 10px;
    /* 滚动条轨道的圆角 */
}

pre::-webkit-scrollbar {
    width: 2px;
    height: 6px;
}

.user-input-container {
    bottom: 0;
    left: 240px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    z-index: 1;
    /* 放置在上层，覆盖其他内容 */
    background: transparent;
}

.input-wrapper {
    flex: 1;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #f9fafb;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 -10px 15px rgba(0, 0, 0, 0.1);
    /* 阴影效果 */
}

.user-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.send-button {
    width: 36px;
    height: 36px;
    padding: 5px;
    background-color: transparent;
    color: #e5e7eb;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    margin-right: 5px;
}

.send-button i {
    font-size: 20px;
    /* 设置图标大小 */
}

.active-button {
    color: #fff;
    background-color: #4CAF50;
    /* 绿色 */
    cursor: pointer;
    /* 恢复正常的指针样式 */
}

/* 样式用户消息 */
.user-message {
    background-color: #fff;
    color: #333;
    text-align: left;
    font-size: 16px;
    /* 用户消息字体大小，根据需要调整 */
    padding: 15px 100px 15px 80px;
    line-height: 1.5;
    margin: 0;
}

/* 样式 GPT 生成的消息 */
.assistant-message {
    background-color: #f0f0f0;
    color: #333;
    text-align: left;
    font-size: 16px;
    /* ChatGPT消息字体大小，根据需要调整 */
    line-height: 1.5;
    padding: 15px 100px 15px 80px;
    margin: 0;
    align-items: center;
}

.message-container {
    display: flex;
    align-items: self-start;
    margin-bottom: 20px;
}

.message-content {
    max-width: 90%;
}

.avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

/* 用户头像样式 */
.user-avatar {
    background-image: url('/static/avatar.png');
    background-size: 100%;
    filter: grayscale(60%);
}

.timestamp {
    margin-right: 10px;
}

/* ChatGPT头像样式 */
.assistant-avatar {
    background-size: 100%;
    background-image: url('/static/mygpt.png');
    background-repeat: no-repeat;
}

/* 侧边栏样式 */
.sidebar {
    width: 30%;
    max-width: 400px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    background-color: #f0f9ff;
    height: 100%;
    padding: 10px 10px;
}

.sidebar-title{
    padding: 10px 10px;
    width: 100%;
}

.project {
    padding: 10px 0;
    font-size: 1.875rem;
    font-weight: 800;
    line-height: 2.5rem;
    height: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 0%;
    background-image: linear-gradient(45deg, #3b82f6, #8b5cf6 30%, white 80% );
}

.describe {
    font-size: 0.875rem;
    line-height: 1rem;
    color: #475569;
}

/* 对话详细内容样式 */
.content {
    display: flex;
    flex: 1 1 0%;
    width: 70%;
}

.content-container {
    flex: 1 1 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.sidebar-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    background-color: inherit;
    color: #475569;
    padding: 20px 0; 
    box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    margin-bottom: 10px;
}

#clear-all {
    display: flex;
    background-color: transparent;
    cursor: pointer;
    /* 边框颜色 */
    border: none;
    color: inherit;
    border-radius: 5px;
    /* 圆角边框 */
    padding: 10px 0;
    /* 内边距 */
    /* width: 100%; */
    text-align: start;
    /* 与用户头像之间的间距 */
}

#clear-all:hover {
    background-color: #eef2ff;
}

#clear-all i {
    padding-left: 10px;
    padding-right: 20px;
}

.clear-all-data {
    flex: 1;
}

.user-profile {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.user-name {
    padding-left: 5px;
    /* 用户名下方的间距 */
    /* font-weight: bold; */
}

/* 用户头像样式 */
.user-profile img {
    max-width: 50px;
    /* 用户头像的最大宽度 */
    border-radius: 50%;
    /* 圆形头像 */
}

/* New Chat 按钮样式 */
.new-chat-button {
    background-color: transparent;
    color: #475569;
    border: 1px solid #cbd5e1;
    /* 边框颜色 */
    border-radius: 5px;
    /* 圆角边框 */
    padding: 10px 10px;
    /* 内边距 */
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    text-align: start;
    height: 40px;
    /* 与用户头像之间的间距 */
}

.new-chat-button i {
    padding-right: 10px;
}

/* 对话列表样式 */
.conversation-list {
    list-style: none;
    padding: 10px 0;
    flex: 1;
    overflow-y: auto; 
}

.conversation-list li {
    margin: 10px 0;
    /* 对话列表项之间的间距 */
    cursor: pointer;
}

.conversation-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0; /* 对话项之间的间距 */
    cursor: pointer;
    padding: 12px 10px;
    border-radius: 10px;
    border: 1px solid #e2e8f0;
    color: #475569;
}

.conversation-item:hover {
    background-color: #eef2ff;
}

.conversation-item i {
    width: 20px;
    flex: 0 0 auto;
}

.conversation-data {
    flex: 1;
    text-align: left;
    padding-left: 10px;
    font-size: 1rem; /* 数据字体大小 */
    margin: 0;
    white-space: nowrap; /* 防止文字换行 */
    overflow: hidden; /* 隐藏溢出部分 */
    text-overflow: ellipsis;
}

.conversation-item button {
    background-color: transparent;
    border: none;
    color: #475569;
    padding: 0 5px;
    cursor: pointer;
}

.conversation-item button:hover {
    color: #eef2ff;
}

.conversation-buttons {
    justify-content: space-between;
    padding-left: 10px;
    text-align: right;
    display: none;
    width: 60px;
    flex: 0 0 auto;
}

.edit-title-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
}

.active-conversation {
    background-image: linear-gradient(45deg, #93c5fd, #c7d2fe) !important; /* 设置你希望的背景颜色 */
}

.typing {
    width: 16px;
    height: 16px;
    align-self: center;
    background-color: #262626;
    border-radius: 50%;
    margin-left: 10px;
    animation: pulsate 2s infinite;
}

@keyframes pulsate {
    0%, 100% {
        transform: scale(0.6);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}
